.panel2 {
    border-style  : solid;
    border-color  : white;
    border-width  : 1px;
    display       : block;
    position      : relative;
    float         : left;
    margin-left   : 3.33%;
    margin-bottom : 3.33%;
    width         : 93.24%;
}

.interpolationFrom {
    width         : 28.57%;
    height        : 67%;
    margin-left   : 3.57%;
    margin-top    : 3.57%;
    display       : block;
    position      : relative;
    float         : left;
}

.imgDiv {
    width         : 50%;
    height        : 100%;
    border-style  : solid;
    border-color  : white;
    border-width  : 1px;
    display       : block;
    position      : relative;
    float         : left;
}

.interpImg {
    width         : 100%;
    height        : 100%;
}

.divisionDiv {
    border-style  : solid;
    border-color  : white;
    border-width  : 0 0 1px 0;
    height        : 17%;
    width         : 21.42%;
    margin-top    : 3.57%;
    margin-right  : 3.57%;
    display       : block;
    position      : relative;
    float         : right;
    font-family   : arial;
}

.divisionP {
    width    : 67%;
    bottom   : 0;
    display  : block;
    position : absolute;
    float    : left;
    z-index  : 2;
}

.divisionInput {
    margin-left   : 75%;
    width         : 23%;
    font-size     : 110%;
    bottom        : 0;
    display       : block;
    position      : absolute;
    text-align    : right;
    background-color: black;
    color         : white;
    z-index       : 1;
    border-width  : 0 0 0 0;
}

.alertP {
    height        : 66.67%;
    width         : 21.42%;
    margin-top    : 3.57%;
    margin-right  : 3.57%;
    display       : block;
    position      : relative;
    float         : right;
    color         : red;
    text-align    : center;
    top           : 50%;
    transform     : translateY(-50%);
    -webkit-transform: translateY(-50%);
}